body{ /*body tag*/
    margin: 0;
    background: #f0f0f0;
    height: 100%;
}
body *{ /*children van body*/
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

header{ /*header tag*/
    background: #daa258;
    width: 100%;
}
main{ /*main tag*/
    display: flex;
    flex-wrap: wrap;
}
article{ /*article tag*/
    background: #91d3d9;
    order: 1; /*2des*/
    width: 70%;
    height: calc(100vh - 160px);
}
nav, aside{ /*nav and aside*/
    background: #add991;
    width: 15%;
}
nav{ /*nav tag*/
    order: 0; /*eerstes*/
}
aside{ /*aside tag*/
    order: 1; /*2des*/
}
footer{ /*footer tag*/
    background: #be91d9;
    width: 100%;
}