body{ /* body tag*/
    margin: 0;
    background: ghostwhite;
}
body > *:not(main){ /* body tag, maar niet wat in de main zit*/
    padding: 20px;
    box-sizing: border-box;
}
main > *{ /*alleen de eerste child tag van de main*/
    padding: 20px;
}
body *{ /* alle child tags van body*/
    width: 100%;
    position: relative;
}
header{ /*header tag*/
   
    background: #daa258;
}
main{ /*main tag*/
    display: flex; /*flex display*/
    flex-wrap: wrap;
    flex-direction: row;
} 
article{ /*article tag*/
   
    background: #91d3d9;

    order: 1;
    height: calc(100vh - 400px);
}
nav, aside{ /*tags nav en aside*/

    background: #add991;
}
footer{ /*footer tag*/
    background: #be91d9;
}
nav{ /*nav tag*/
    order: 0;
}
aside{ /*aside tag*/
    order: 1;
}