@page {
    size: A4 portrait;
    margin: 1.5cm;
  }

body {
    /*body tag*/
    color: #000000;
    text-shadow: -1.2px 0 #ffffff, 0 1.2px #ffffff, 1.2px 0 #ffffff, 0 -1.2px #ffffff;
    font-family: 'Trebuchet MS', 'Helvetica', 'Verdana', sans-serif;
    font-size: 100%;
    line-height: 2em;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("../images/background.png");
    background-size:cover;
}

body * {
    /*children van body*/
    position: relative;
}

footer {
    /*footer tag*/
    bottom: 1rem;
    width: 100%;
    height: 2rem;
    position: fixed;
}
footer p{
    float: right;
    text-align: right;
    margin: 0;
    line-height: 1em;
    padding-right: 0.5rem;
}

header {
    /*header tag*/
    width: 100%;
    top: 0;
    height: 5rem;
}

header img {
    float: left;
}

header h1 {
    display: hidden;
}

header p {
    float: right;
    text-align: right;
    margin: 0;
    line-height: 1em;
    padding-right: 0.5rem;
}


main {
    /*main tag*/
    display: flex;
    text-align: left;
    justify-content: unset;
    align-items: stretch;
    width: 100%;
    height: 80vh;
}

nav {
    /*nav tag*/
    width: 15%;
    z-index: 1;
    left: 0;
    padding-top: 20px;
    padding-right: 15px;
}

.page-content {
    overflow-y: auto;
    width: 85%;
}


a:link {
    color: #ffffff;
}

.punchline {
    color: #9c9cde;
    font-style: italic;
    font-size: 1.5em;
    font-family: serif;
    font-weight: 700;
    transform: rotate(-10deg);
    position: absolute;
    top: 25px;
    left: 250px;
}
.punchline:hover {
    transition: transform 1s;
    transform: rotate(-20deg)
}

hr {
    border: none;
    height: 10px;
    background: url(../images/footerline.gif) 100% 0 no-repeat
}