body {
    width: 100%;
    margin: 0;
    float: none;
    font: 12pt Georgia, "Times New Roman", Times, serif;
    background: #ffffff !important;
    color: #000000;
}

@page :left {
    margin: 1cm;
}

@page :right {
    margin: 1cm;
}

h1 {
    font-size: 24pt;
}

h2,
h3,
h4 {
    font-size: 14pt;
    margin-top: 25px;
}

nav {
   visibility: hidden;
}