@page {
    size: A4 portrait;
    margin: 1.5cm;
}

main img {
    border: solid;
}

fieldset {
    background-image: url("../images/envel.jpg");
    background-size: cover;
    border-radius: 50%;
}

fieldset ol {
    padding-left: 34.3%;
}

#send {
    border-radius: 80%;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 10px;
}

body {
    /*body tag*/
    color: #000000;
    text-shadow: -1.2px 0 #ffffff, 0 1.2px #ffffff, 1.2px 0 #ffffff, 0 -1.2px #ffffff;
    font-family: 'Trebuchet MS', 'Helvetica', 'Verdana', sans-serif;
    font-size: 100%;
    line-height: 2em;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    background-image: url("../images/background.png");
    background-size: cover;
}

body * {
    /*children van body*/
    position: relative;
}

footer {
    /*footer tag*/
    bottom: 1rem;
    width: 100%;
    height: 2rem;
    position: fixed;
}

footer p {
    float: right;
    text-align: right;
    margin: 0;
    line-height: 1em;
    padding-right: 0.5rem;
}

header {
    /*header tag*/
    width: 100%;
    top: 0;
    height: 5rem;
}

header img {
    float: left;
}

header h1 {
    display: hidden;
}

.punchline {
    display: hidden;
}

header p {
    float: right;
    text-align: right;
    margin: 0;
    line-height: 1em;
    padding-right: 0.5rem;
}

main {
    /*main tag*/
    display: flex;
    text-align: left;
    justify-content: unset;
    align-items: stretch;
    width: 100%;
    height: 80vh;
}

@media only screen and (max-width: 806px) {
    .punchline {
        display: none;
    }
}

@media only screen and (min-width: 807px) {
    nav {
        /*nav tag*/
        width: 15%;
        padding-top: 20px;
        padding-right: 15px;
    }

    .page-content {
        width: 85%;
        margin-left: -15px;
    }
}

.page-content {
    overflow-y: auto;
    margin-bottom: 20px;
    padding-left: 105px;
}

.page-content>div:not(:target) {
    display: none;
}

.page-content>div:target {
    display: inline-block;
}

a:hover a:visited a:active {
    color: #fff;
    text-decoration: none;
}

a:link {
    color: #fff;
    text-decoration: none;
}

.punchline {
    color: #ff56f1;
    font-style: italic;
    font-size: 1.5em;
    font-family: serif;
    font-weight: 700;
    transform: rotate(-10deg);
    position: absolute;
    top: 25px;
    left: 250px;
}

.punchline:hover {
    transition: transform 1s;
    transform: rotate(10deg)
}

hr {
    border: none;
    height: 10px;
    background: url(../images/footerline_new.gif) 100% 0 no-repeat;
}

#slideshow {
    overflow: hidden;
    height: 510px;
    width: 728px;
    margin: 0 auto;
}

.slide-wrapper {
    width: 2912px;
    -webkit-animation: slide 18s ease infinite;
}

.slide {
    float: left;
    height: 510px;
    width: 728px;
}

@-webkit-keyframes slide {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: -728px;
    }

    50% {
        margin-left: -728px;
    }

    60% {
        margin-left: -1456px;
    }

    70% {
        margin-left: -1456px;
    }

    80% {
        margin-left: -2184px;
    }

    90% {
        margin-left: -2184px;
    }
}

/*
      placement and width of menu body (ul)
    */
ul {
    width: 100px;

}

/*
        style the default links width + padding= width overall. set margin
        between links, set deafult image, etc.
      */
ul a {
    line-height: normal;
    text-shadow: none;
    display: block;
    width: 140px;
    height: auto;
    padding: 6px 30px 5px;
    margin-bottom: 4px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    /* needed for opera due to .on styling */
    background: #377600 url(../images/cfl_link.gif);
}

/*
        the bottom margin here is for IE6 only
      */
ul .links {
    list-style-type: none;
    margin-bottom: 4px;
}

/*
        hover/focus state of links. Please note that applying added
        font weight or letter-spacing on hover can create nasty unwanted
        effects - such as going from one line to two, unless care is taken.
      */
ul a:hover,
ul a:focus,
ul a:active {
    background: #377600 url(../images/cfl_link_on.gif);
    color: yellow;
    letter-spacing: 0.3em;
}

/*
        current page styling
      */
ul a.on {
    background: #377600 url(../images/cfl_link_on.gif);
    color: #000;
    text-align: right;
    letter-spacing: 0.3em;
}

/*
        everything here is for IE6 with exception to cursor styling
      */
ul a.on:hover,
ul a.on:focus,
ul a.on:active {
    background: #377600 url(../images/cfl_link_on.gif);
    color: #000;
    text-align: right;
    letter-spacing: 0.3em;
    cursor: default;
}