:root{
    --primary-color: #dfedff;
    --primary-color-darken: #4d5c6b;
}

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
}
.full-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    text-align: center;
}

.option{
    position: relative;
    border: solid 1px #efefef;
    border-radius: 5px;
    padding: 25px 10px;
    box-sizing: border-box;
    margin: 2px;
}

.option a{
    color: inherit;
    text-decoration: none;
}
.option svg{
    transition: all .75s ease-in-out;
}
.option a:hover svg{
    transform: scale(1.2);
}

.option::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    transition: all 1.19s ease-in-out;
    background-image: linear-gradient(to right, #dbf7f8, #b0ebff, #9fd7ff, #babbff, #eb95f2);
}

.option:hover::after{
    content: '';
    width: 100%;
}

nav.navbar{
    background: var(--primary-color) !important;
}
.nav-item select{
    position: relative;
    top: 7px;
    border-radius: 5px;
}
.item-search button{
    position: relative;
    width: 100%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.pagination svg{
    display: inline;
    width: 24px;
    height: 24px;
    padding: 5px;
    box-sizing: content-box;
    background: white;
    border: solid 1px #f2f2f2;
    border-bottom: solid 2px #f2f2f2;
    border-radius: 2px;
    cursor: pointer;
}

.pagination svg:hover{
    background: #fafafa;
}

.pagination svg:active{
    border: solid 1px #f2f2f2;
}

.pagination-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.pagination-container .pagination{
    align-items: center;
}
.pagination.page-number{
    padding: 10px;
    box-sizing: border-box;
}

.item.card{
    margin-top: 5px;
    margin-bottom: 5px;
}

a.item-button{
    display: inline-block;
    background: var(--primary-color);
    color: var(--primary-color-darken);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 5px;
}

a.item-button svg{
    display: inline;
}

header{
    position: relative;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    color: var(--primary-color-darken);
    background: #dfedff;
}
header h1{
    font-size: 3em;
}
.details > div > *{
    padding: 5px 0px;
    border-bottom: solid 2px #f0f0f0;
}
p.price{
    position: relative;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
}

.products{
    border: solid 1px #f0f0f0;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.products .image{
    background-image: url("../images/generic.png");
    background-size: contain;
    background-position: center;
}